.card-title2{
  color: red;
  margin-left:7px
}
.card-body {
text-align: center
}
.card {
margin-left: 8px;
margin-right: 8px;
}


.footer{
  color : red;
}
.titre {
margin-left: 5px;
font-size: 29px;
font-style: italic;
}
.card{
margin:5px
}
.card-header{
font-size: 20px;
}
.desc{
font-size : 9px;
}
