<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>

    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="carousel-caption ">
          <h1>Bienvenue dans notre boutique </h1>
          <br />
          <p>Par ce que nous vivons dans un monde connecté ou le hightech est indisponsable</p>
          <p> <br /> Notre boutique ,vous propose de trés bonnes offres, tout au long de l'année sur une large gamme de produits hightech  </p>
          <p> <br />Venez vite en profiter </p>
        </div>
        <img src="assets/images/imagee.jpg" class="d-block w-100" alt="0">

      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
     
      <div class="col-sm-6 col-md-3 item">
        <h3>About</h3>
        <ul>
          <li><a href="#">Company</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-6 item text">
        <h3>HIGHTECH</h3>
        <p>Adresse : 125 rue leblond 92000 Nanterre ,France  
        <br /> Contact : 01 45 80 6 <br /> HIGHTECH_no@VITECH.com </p>
      </div>

    </div>
    <p class="copyright">HIGHTECH © 2021</p>
  </div>
  
</div>
